<div class="row wrap-feature-22">
  <!-- Column -->
  <div class="col-lg-6" data-aos="flip-up" data-aos-duration="1200">
    <img [src]="imagePath" class="rounded img-responsive" alt="wrapkit" />
  </div>
  <!-- Column -->
  <div class="col-lg-6 no-trans">
    <div class="text-box">
      <small class="text-info font-medium">Tenha sua micro-empresa no nosso radar!</small>
      <h3 class="font-light">
        Veja 
        <span class="text-info">como</span> ter sua empresa no nosso radar:
      </h3>
      <p>
        Para ter sua empresa no nosso radar é importante nos acompanhar nas nossas redes sociais,
        via instagram compartilhamos enquetes diárias e interações com o nosso público e recebemos
        indicações de empresas que merecem estar no nosso radar.
      </p>
      <p>
        Iremos receber sua indicação e avaliar os produtos e serviçõs oferecidos, assim terá grande chance de estar no próximo radar.
      </p>

      <a
        class="btn btn-info-gradiant btn-md btn-arrow m-t-20"
        data-toggle="collapse"
        routerLink="#"
      >
        <span
          >Redes Sociais
          <i class="ti-arrow-right"></i>
        </span>
      </a>
    </div>
  </div>
  <!-- Column -->
</div>
